<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.baiyougou.dao.TgoodsTypeMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.baiyougou.entity.TgoodsType">
    <id column="typeId" jdbcType="INTEGER" property="typeid" />
    <result column="typeName" jdbcType="VARCHAR" property="typename" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    typeId, typeName, pid, grade
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goodstype
    where typeId = #{typeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goodstype
    where typeId = #{typeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.baiyougou.entity.TgoodsType">
    insert into t_goodstype (typeId, typeName, pid, 
      grade)
    values (#{typeid,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.baiyougou.entity.TgoodsType">
    insert into t_goodstype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeid != null">
        typeId,
      </if>
      <if test="typename != null">
        typeName,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.baiyougou.entity.TgoodsType">
    update t_goodstype
    <set>
      <if test="typename != null">
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
    </set>
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.baiyougou.entity.TgoodsType">
    update t_goodstype
    set typeName = #{typename,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER}
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>

  <resultMap type="com.qfedu.baiyougou.common.vo.GoodsTypeVo" id="menuMap">
    <result column="typeId" property="typeId"/>
    <result column="tName" property="typeName"/>
  </resultMap>

  <select id="selectAll" resultMap="menuMap">
  	  select p.typeId typeId,p.typeName tName from t_goodstype p
  	 inner join t_goodstype c
  	 on p.pid=c.typeId where c.typeId=#{typeId}
  </select>
</mapper>